/* https://docs.zephyrproject.org/latest/build/dts/intro-syntax-structure.html */
/ {
    aliases {
        my-led = &led0;
    };

	leds {
        compatible = "gpio-leds";
        led0: d13 {
            gpios = <&pioc 10 GPIO_ACTIVE_LOW>;
        };
    };
};
